@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #313848;
}
.container {
  width: 480px;
  background: #735372;
  display: grid;
  place-items: center;
  flex-direction: columns;
  border-radius: 16px;
  padding: 24px 32px;
}
.container h2 {
  color: #8adfdc;
}
.progress-box {
  width: 100%;
  height: 80px;
  margin: 16px 0;
  border: 4px solid #8f758e;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.4s;
  padding: 8px 16px;
}
.progress-box:hover {
  background: #8f758e;
}
.progress-box.active {
  background: #8f758e;
}
.progress-box p {
  color: #000;
}
.progress-bar {
  width: 100%;
  height: 16px;
  position: relative;
  background: #313848;
  box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
  border-radius: 16px;
}
.progress-bar span {
  /* width: 20%; */
  height: 80%;
  background: #8adfdc;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 16px;
  transition: 0.8s;
}
.progress-bar span::after {
  content: attr(data);
  position: absolute;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  padding: 4px 8px;
  background: #8adfdc;
  color: #313848;
  border-radius: 16px;
  border: 1px solid #313848;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4),
    inset 0 1px 1px rgba(255, 255, 255, 0.4);
}
.container h3 {
  color: #313848;
}
